<h1 style="background-color:powderblue;" >Rogers Details</h1>


<h3><b>Test2 Angular:1</b></h3>

<ul>
  <li >
    <h4>----URL------ </h4>
    <br>
    {{detailList.items[0].fields.url}}
  </li>
  <li>
    <h4>----SEO Title------ </h4>
    <br>
    {{detailList.includes.Entry[0].fields.title}}
  </li>
  <li>
    <h4>----Description------ </h4>
    <br>
    {{detailList.includes.Entry[0].fields.description}}
  </li>
  <li>
    <h4>----IsNoIndex------ </h4>
    <br>
    {{detailList.includes.Entry[0].fields.isNoIndex}}
  </li>
</ul>
